@model IEnumerable<HealthHarmony2.Models.ExerciseCategory>
@{
    ViewBag.Title = "DisplayCategorys";
}
@{ 
    int val = 1000;
    int a = 0;
} 


<div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner" style="width:100%;">

        @foreach (var v in Model.AsEnumerable().Reverse())
                {
            <div class="carousel-item active" data-bs-interval="@val">
                <a href="http://localhost:60379/ExerciseCategory/DisplayCategory/@v.CategoryID" class="link-dark text-decoration-none ">
                    <img class="card-img-top" src='/Uploads/@v.CategoryImage' alt="Image Not Found" width="250px" height="375px" /></a>
                
</div>
            val += 1000;
            
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


















<main>
    <div class="container ">
        <div class="row">
            @foreach (var category in Model.AsEnumerable().Reverse())
            {
                a++;
                <div class="col-6 " style="padding:50px">
                    <div class="card">
                        <a href="http://localhost:60379/ExerciseCategory/DisplayCategory/@category.CategoryID" class="link-dark text-decoration-none ">
                            <img class="card-img-top" src='/Uploads/@category.CategoryImage' alt="No Image" width="250" height="250" />
                            <div class="card-body">
                                <h4 class="card-title " style="text-align:center">@Html.DisplayFor(E => category.CategoryName)</h4>
                                <p>@category.CategoryDescription</p>

                                <button class="btn btn-outline-success align-content-center card-body fw-bold" style="width:100%"> @*@Html.ActionLink("exercise", "DisplayCategory", new { id = category.CategoryID })*@ View @category.CategoryName  Exercise</button>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @if (a == 0)
            {
                <h1 class="bg-warning text-center top-100"> Content Coming Soon !</h1>
            }
        </div>
    </div>
    
</main>



